# Dependências
/node_modules/

# Build de produção
/dist/

# Cache do Vite
/.vite/

# Logs de erros e debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de configuração de ambiente
.env
.env.*

# Sistema operacional
.DS_Store   # Arquivo gerado no macOS
Thumbs.db   # Arquivo gerado no Windows

# Configurações de IDEs
.idea/      # JetBrains IDEs (ex: WebStorm, IntelliJ)
.vscode/    # Visual Studio Code

# Arquivos temporários de edição (Vim, etc)
*.swp       # Arquivos temporários do Vim
*.swo       # Arquivos temporários do Vim

# Cache do npm
npm-cache/

# Arquivos de lock (caso não queira versionar)
package-lock.json
yarn.lock

# Outras pastas de cache
/.cache/
