.country-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    width: 137vh;
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 3%;
  }
  
  .foods {
    display: flex;
    gap: 15px;
  }
  
  .food-item {
    text-align: center;
    font-size: larger;
  }
  
  .food-item img {
    height: 100px;
    width: 150px;
    border-radius: 10px;
    border: solid;
    border-color: white;
    border-radius: 15px;
  }
  